{
  "check-coverage": true,
  "per-file": true,
  "lines": 95,
  "statements": 95,
  "functions": 95,
  "branches": 95,
  "extension": [
    ".ts",
    ".tsx"
  ],
  "exclude": [
    "**/*.d.ts",
    "**/*.test.ts"
  ],
  "reporter": [
    "text"
  ],
  "all": true
}